%form.form.well{ action: '/a/user', method: 'post' }
  %div.clearfix.inline-input
    %label{ for: 'name' } Name:
    %div.input
      %input{ name: "name", type: "text" }/

  %div.clearfix.inline-input
    %label{ for: 'password' } Password:
    %div.input
      %input{ name: "password", type: "password" }/

  %div.clearfix.inline-input
    %label{ for: 'role' } Role:
    %div.input
      %select{ name: "role" }
        - User::ROLES.each do |role|
          %option= role

  %input.btn.primary{ type: "submit", value: "Create" }/

- unless @users.empty?
  %table.bordered-table
    %thead
      %th #
      %th{ width: 300 } Name
      %th{ width: 300 } Role
      %th{ width: 200 } Actions
    %tbody
    - @users.each_with_index do |u, i|
      %tr
        %th= i
        %td= u.name.empty? ? '&mdash;' : u.name
        %td= u.role.empty? ? '&mdash;' : u.role
        %td
          - unless u.id == current_user.id
            %button.btn.delete-user{ 'data-user-id' => u.id } Delete
          %button.btn.reset-user-password{ 'data-user-id' => u.id } Reset password

- else
  No users.