%form.form.well{ action: '/s/schedule', method: 'post' }
  %div.clearfix.inline-input
    %label{ for: 'course_id' } Course:
    %div.input
      %select{ name: "course_id" }
        - @courses.each do |course|
          %option{ selected: course.id == params['course_id'], value: course.id }= course.name

  %div.clearfix.inline-input
    %label{ for: 'course_type' } Course type:
    %div.input
      %select{ name: "course_type" }
        - Schedule::COURSE_TYPES.each do |course_type|
          %option{ value: course_type, selected: course_type.to_s == params['course_type'].to_s }= course_type.to_s.capitalize

  %input.btn.primary{ type: "submit", value: "Attend" }/

%div.courses
  - Schedule::COURSE_TYPES.each do |courses_type|
    = haml :'s/courses_table', {}, { items: @schedule.items(courses_type), courses_type: courses_type }
