Hello, #{current_user.name}! 
%br
You are #{current_user.role}. =)
- if current_user.role? && current_user.role == :admin
  %br
  %a{title: 'Edit users', href: '/a/users'} Users
  %br
  %a{title: 'Edit subjects', href: '/a/subjects'} Subjects
